<h1>Chat</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<script type="text/javascript">
  $("#chat").append("<%= escape_javascript render(@message) if @message %>");
  $("#new_message")[0].reset();
</script>

